---
http_interactions:
- request:
    method: get
    uri: https://ws.remit.vn/ws.asmx?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"IN_OUT_API\"
        xmlns:s=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" targetNamespace=\"IN_OUT_API\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"IN_OUT_API\">\r\n      <s:element
        name=\"ChangePassword\">\r\n        <s:complexType>\r\n          <s:sequence>\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"AGENT_CODE\"
        type=\"s:string\" />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"USERNAME\" type=\"s:string\" />\r\n            <s:element minOccurs=\"0\"
        maxOccurs=\"1\" name=\"PASSWORD\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"NEW_PASSWORD\" type=\"s:string\" />\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"CONFIRM_PASSWORD\"
        type=\"s:string\" />\r\n          </s:sequence>\r\n        </s:complexType>\r\n
        \     </s:element>\r\n      <s:element name=\"ChangePasswordResponse\">\r\n
        \       <s:complexType>\r\n          <s:sequence>\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"ChangePasswordResult\">\r\n              <s:complexType>\r\n
        \               <s:sequence>\r\n                  <s:any minOccurs=\"0\" maxOccurs=\"unbounded\"
        namespace=\"http://www.w3.org/2001/XMLSchema\" processContents=\"lax\" />\r\n
        \                 <s:any minOccurs=\"1\" namespace=\"urn:schemas-microsoft-com:xml-diffgram-v1\"
        processContents=\"lax\" />\r\n                </s:sequence>\r\n              </s:complexType>\r\n
        \           </s:element>\r\n          </s:sequence>\r\n        </s:complexType>\r\n
        \     </s:element>\r\n      <s:element name=\"ChangePasswordJso[...]
- request:
    method: post
    uri: https://ws.remit.vn/ws.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="IN_OUT_API"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:SendTransaction><tns:AGENT_CODE
        xsi:nil="true"/><tns:USERNAME>[username]</tns:USERNAME><tns:PASSWORD>[password]</tns:PASSWORD><tns:TRANSACTION_ID>bada18e928a8</tns:TRANSACTION_ID><tns:TRANSACTION_DATE>12/27/2016
        08:25:23</tns:TRANSACTION_DATE><tns:DEGIT_CODE xsi:nil="true"/><tns:TRANSACTION_AMOUNT>50000</tns:TRANSACTION_AMOUNT><tns:SETT_AMOUNT>50000</tns:SETT_AMOUNT><tns:TRANSACTION_CURRENCY>VND</tns:TRANSACTION_CURRENCY><tns:SETT_CURRENCY>VND</tns:SETT_CURRENCY><tns:SETT_CONVERSION_RATE>1.0</tns:SETT_CONVERSION_RATE><tns:PAYMENTMODE>FT</tns:PAYMENTMODE><tns:SENDER_NAME>Thu
        Giang</tns:SENDER_NAME><tns:SENDER_ADDRESS xsi:nil="true"/><tns:SENDER_DISTRICT
        xsi:nil="true"/><tns:SENDER_CITY xsi:nil="true"/><tns:SENDER_COUNTRY>Korea</tns:SENDER_COUNTRY><tns:SENDER_QUESTION
        xsi:nil="true"/><tns:SENDER_ANSWER xsi:nil="true"/><tns:RECEIVER_NAME>Tranh
        Luong</tns:RECEIVER_NAME><tns:RECEIVER_ADDRESS>123 St</tns:RECEIVER_ADDRESS><tns:RECEIVER_WARDS
        xsi:nil="true"/><tns:RECEIVER_DISTRICT>An Duong dist</tns:RECEIVER_DISTRICT><tns:RECEIVER_CITY>Ho
        Chi Minh</tns:RECEIVER_CITY><tns:RECEIVER_PHONE xsi:nil="true"/><tns:HOURS_RECEIVE
        xsi:nil="true"/><tns:BANK_ID>1</tns:BANK_ID><tns:BANK_ACCOUNT_NUMBER>0123456789</tns:BANK_ACCOUNT_NUMBER><tns:TRANSACTION_MESSAGE
        xsi:nil="true"/><tns:TRANSACTION_KEY>2aae7260a3f5d466cd853f69ccf98b7a</tns:TRANSACTION_KEY><tns:BANKBRANCH_NAME>Test
        Branch</tns:BANKBRANCH_NAME><tns:BANKBRANCH_ADDRESS>123 Testy</tns:BANKBRANCH_ADDRESS></tns:SendTransaction></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"IN_OUT_API/SendTransaction"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><SendTransactionResponse
        xmlns="IN_OUT_API"><SendTransactionResult><xs:schema id="NewDataSet" xmlns=""
        xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata"><xs:element
        name="NewDataSet" msdata:IsDataSet="true" msdata:MainDataTable="SendTransaction"
        msdata:UseCurrentLocale="true"><xs:complexType><xs:choice minOccurs="0" maxOccurs="unbounded"><xs:element
        name="SendTransaction"><xs:complexType><xs:sequence><xs:element name="RESPONSE_CODE"
        type="xs:string" minOccurs="0" /><xs:element name="TRANSACTION_ID" type="xs:string"
        minOccurs="0" /><xs:element name="TRANSACTION_AMOUNT" type="xs:double" minOccurs="0"
        /><xs:element name="SERVICE_CHARGE" type="xs:double" minOccurs="0" /><xs:element
        name="SETT_AMOUNT" type="xs:double" minOccurs="0" /><xs:element name="TRANSACTION_CURRENCY"
        type="xs:string" minOccurs="0" /><xs:element name="SETT_CURRENCY" type="xs:string"
        minOccurs="0" /><xs:element name="PAYMENTMODE" type="xs:string" minOccurs="0"
        /><xs:element name="TRANSACTION_DATE" type="xs:dateTime" minOccurs="0" /><xs:element
        name="TRANSACTION_KEY" type="xs:string" minOccurs="0" /></xs:sequence></xs:complexType></xs:element></xs:choice></xs:complexType></xs:element></xs:schema><diffgr:diffgram
        xmlns:msdata="urn:schemas-microsoft-com:xml-msdata" xmlns:diffgr="urn:schemas-microsoft-com:xml-diffgram-v1"><DocumentElement
        xmlns=""><SendTransaction diffgr:id="SendTransaction1" msdata:rowOrder="0"><RESPONSE_CODE>0000</RESPONSE_CODE><TRANSACTION_ID>bada18e928a8</TRANSACTION_ID><TRANSACTION_AMOUNT>50000</TRANSACTION_AMOUNT><SERVICE_CHARGE>0</SERVICE_CHARGE><SETT_AMOUNT>50000</SETT_AMOUNT><TRANSACTION_CURRENCY>VND</TRANSACTION_CURRENCY><SETT_CURRENCY>VND</SETT_CURRENCY><PAYMENTMODE>FT</PAYMENTMODE><TRANSACTION_DATE>2016-12-27T08:25:00+07:00</TRANSACTION_DATE><TRANSACTION_KEY>2aae7260a3f5d466cd853f69ccf98b7a</TRANSACTION_KEY></SendTransaction></DocumentElement></diffgr:diffgram></SendTransactionResult></SendTransactionResponse></soap:Body></soap:Envelope>
  recorded_at: Tue, 27 Dec 2016 01:25:27 GMT
recorded_with: VCR 3.0.3
